@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
    height: 540px;
    position: relative;
}

.buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.button {
    margin: auto;
    text-align: center;
    max-width: 145px;
    
}

.sf {
    position: relative;
    right: 28px;
    top: 10px;
}

.icon-social {
    width: 24px;
    height: 64px;
    margin: 20px;
}

